

.ipynb*

chapter_05/logs/*

*.pdf

chapter_05/analysis/*

chapter_05/deer_test.feather

chapter_05/deer_train.feather

*.Rhistory

chapter_08/nb_ch08_01_mixture.ipynb

chapter_08/test_multimodal.ipynb

*.Rout

chapter_08/.RData

chapter_06/attic/*

chapter_08/*.gif
chapter_08/*.mp4

movies/vi_ab_movie_and_loss.mp4

chapter_08/*.hdf5

chapter_08/*.csv
